body {
   background-color: black;
   width: 1920px;
   margin: 0;
   padding: 0;
   color: white;
}
.a {
    width: 1920px;
    height: 1437px;
    background-image : url("image/t1.png");
    background-repeat : no-repeat;
}
.story1 {
    line-height:110%;
    font-size: 93px;
    width: 1000px;
    height: 70px;
    float: left;
    margin-top: 450px;
    margin-left: 90px;
}
.story2 {
    font-size: 183px;
    width: 1000px;
    height: 70px;
    float: left;
    margin-left: 90px;
    margin-top: 110px;
}


.button1 {
    font-weight: 400;
    opacity: 80%;
    font-size: 30px;
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 60px;
    margin-left: 900px;
}
.button1:hover {
    opacity: 80%;
    color: blueviolet
}
.button2 {
    font-weight: 400;
    opacity: 80%;
    font-size: 30px;
    width: 100px;
    height: 70px;
    float: left;
    margin-top: 60px;
    margin-left: 50px;
}
.button2:hover {
    opacity: 100%;
    color: blueviolet
}
.button3 {
    font-weight: 400;
    opacity: 80%;
    font-size: 30px;
    width: 160px;
    height: 70px;
    float: left;
    margin-top: 60px;
    margin-left: 80px;
}
.button3:hover {
    opacity: 100%;
    color: blueviolet
}
.button4 {
    font-weight: 400;
    opacity: 80%;
    font-size: 30px;
    width: 160px;
    height: 70px;
    float: left;
    margin-top: 60px;
    margin-left: 80px;
}
.button4:hover {
    opacity: 100%;
    color: blueviolet
}
.button5 {
    font-weight: 400;
    opacity: 80%;
    font-size: 30px;
    width: 160px;
    height: 70px;
    float: left;
    margin-top: 60px;
    margin-left: 80px;
}
.button5:hover {
    opacity: 100%;
    color: blueviolet
}
.a-1 {
    background-image: url(image/b4.png);
    background-repeat: no-repeat;
    width: 730px;
    height: 993px;
    float: right;
    margin-right: 1200px;
}

img{
    display: block;
    vertical-align: bottom;
}



.b {
    width: 1920px;
    height: 2000px;
    background-image: url(image/t20.png);
    margin: 0;
}
.historytitle {
    font-size: 110px;
    font-weight: bold;
    width: 600px;
    height: 70px;
    float: left;
    margin-left: 450px;
    margin-top: 140px;
    position: absolute;
}
h1 {
    font-size: 50px;
}
.history {
    line-height: 60px;
    opacity: 80%;
    font-size: 25px;
    font-weight: bold;
    width: 1800px;
    height: 70px;
    float: left;
    margin-left: 115px;
}
.history2 {
    line-height: 70px;
    opacity: 80%;
    font-size: 25px;
    font-weight: bold;
    width: 1800px;
    height: 70px;
    float: left;
    margin-left: 115px;
    margin-top: 500px;
}
.history3 {
    line-height: 70px;
    opacity: 80%;
    font-weight: bold;
    font-size: 25px;
    width: 1800px;
    height: 70px;
    float: left;
    margin-left: 115px;
    margin-top: 500px;
}
.KOR {
    font-size: 90px;
    width: 1800px;
    height: 70px;
    float: left;
    margin-left: 115px;
    margin-top: 500px;
}
.KOR2 {
    line-height: 70px;
    font-weight: bold;
    opacity: 80%;
    font-size: 25px;
    width: 1800px;
    height: 70px;
    float: left;
    margin-left: 115px;
    margin-top: 110px;
}

.b-1 {
    background-image: url(image/go10.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 279px;
    height: 723px;
    float: right;
    margin-left: 1650px;
    margin-top: 2279px;
}



.c {
    width: 1920px;
    height: 467px;
    background-image : url("image/t3.png");
    margin:0;
    margin-top: 1000px;
}
.Lagerale {
    font-size: 120px;
    font-weight: bold;
    width: 1800;
    height: 70px;
    text-align: center;
    padding-top: 100px;
}
.Lagerale2 {
    opacity: 80%;
    font-size: 45px;
    font-weight: bold;
    width: 1800px;
    height: 70px;
    float: left;
    margin-top: 90px;
    text-align: center;
}
.Lagerale3 {
    font-size: 20px;
    font-weight: bold;
    width: 1800px;
    height: 70px;
    float: left;
    text-align: center;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
}
.c1 {
    width: 1920px;
    height: 2000px;
}
.c2 {
    background-image: url(image/a67.png);
    width: 562px;
    height: 618px;
    float:left;
    margin-top: 400px;
    margin-left: 300px;
}
.Ale1 {
    font-size: 60px;
    font-weight: bold;
    width: 300px;
    height: 70px;
    float: left;
    margin-left: 200px;
    margin-top: 500px;

}
.Ale2 {
    line-height: 35px;
    font-weight: bold;
    opacity: 80%;
    font-size: 20px;
    width: 600px;
    height: 70px;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
}
.Ale3 {
    font-size: 20px;
    width: 600px;
    height: 70px;
    float: left;
    margin-left: 200px;
    margin-top: 150px;
    line-height: 35px;
    font-weight: bold;
    opacity: 80%;
}
.c3 {
    background-image: url(image/l13.png);
    width: 562px;
    height: 618px;
    float: right;
    margin-top: 350px;
    margin-right: 400px;
}
.Lager1 {
    font-size: 60px;
    font-weight: bold;
    width: 400px;
    height: 70px;
    float: right;
    margin-right: 200px; 
    margin-top: 350px;
}
.Lager2 {
    line-height: 35px;
    font-weight: bold;
    opacity: 80%;
    font-size: 20px;
    width: 600px;
    height: 70px;
    float: left;
    margin-left: 350px; 
    margin-top: 50px;
}

.Lager3 {
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    width: 600px;
    height: 70px;
    float: left;
    margin-left: 350px;
    margin-top: 100px;
    opacity: 80%;
}
.d {
    width: 1920px;
    height: 1995px;
    background-image:url(image/y78.png);
}
.beer1 {
    font-size: 110px;
    font-weight: bold;
    width: 700px;
    height: 70px;
    float: left;
    margin-top: 400px;
    margin-left: 650px;
}
.beer2 {
    font-size: 24px;
    font-weight: bold;
    width: 1500px;
    height: 70px;
    float: left;
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
}

.e{
    width: 1920px;
    height: 467px;
    background-image: url(image/t4.png);
    margin: 0;
}
.make1 {
    font-size: 110px;
    font-weight: bold;
    width: 1000px;
    height: 70px;
    float: left;
    margin-left: 470px;
    margin-top: 160px;
    text-align: center;
}

.floating {   
    position: fixed; 
    right: 630px; 
    top: 350px; 
    margin-right: -615px; 
    text-align:center; 
    width:70px;
} 
.floating div:nth-child(1){  
    width: 50px;
    height: 50px;
    background-image: url(image/ta50.png);
    color: black;
} 
.floating div:nth-child(2){ 
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image: url(image/ta60.png);
    color: black;
} 
.floating div:nth-child(3){  
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image: url(image/ta80.png);
    color: black;
} 
.mk1 {
    background-image: url(image/bbsr1.png);
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 330px;
    margin-top: 40px;
}
.mk2 {
    background-image: url(image/bbsr2.png);
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}
.mk3 {
    background-image: url(image/bbsr3.png);
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}
.mk4 {
    background-image: url(image/bbsr4.png);
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}