body {
   font-family: "DX시인과나";
   background-color: black;
   margin: 0;
   color: white;
}
.a1 {
        width: 100%;
        height: 11507px;
}

.story1 {
           line-height:110%
}

.button1 {
    font-family: "나눔스퀘어라운드";
    font-weight: 400;
    opacity: 80%
}
.button1:hover {
    opacity: 80%;
    color: blueviolet
    
}
.button2 {
    font-family: "나눔스퀘어라운드";
    font-weight: 400;
    opacity: 80%
}
.button2:hover {
    opacity: 100%;
    color: blueviolet
}
.button3 {
    font-family: "나눔스퀘어라운드";
    font-weight: 400;
    opacity: 80%
}
.button3:hover {
    opacity: 100%;
    color: blueviolet
}
.button4 {
    font-family: "나눔스퀘어라운드";
    font-weight: 400;
    opacity: 80%
}
.button4:hover {
    opacity: 100%;
    color: blueviolet
}
.button5 {
    font-family: "나눔스퀘어라운드";
    font-weight: 400;
    opacity: 80%
}
.button5:hover {
    opacity: 100%;
    color: blueviolet
}
.history {
            line-height: 70px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.history2 {
            line-height: 70px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.history3 {
            line-height: 70px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.KOR2 {
            line-height: 70px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.Lagerale2 {
            opacity: 80%;
}
.Ale2 {
            line-height: 35px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.Ale3 {
            line-height: 35px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.Lager2 {
            line-height: 35px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}
.Lager3 {
            line-height: 35px;
            font-family: "나눔스퀘어라운드";
            font-weight: 400;
            opacity: 80%;
}